@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.eventPopup {
    position: fixed;
    bottom: 5px;
    right: 2px;
    z-index: 2147483647;
    width: 200px;
    height: 350px;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    top: -5px;
    right: 4px;
    background: white;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    padding: 0;
}

.popupLink {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nightMarketImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.countdownOverlay {
    position: absolute;
    top: 91%;
    left: 48%;
    transform: translate(-45%, -50%);
    color: white;
    text-align: center;
    font-size: 23px;
    pointer-events: none;
    background-color: rgba(28, 38, 79);
    padding: 4px 4px;
    border-radius: 8px;
    -webkit-font-smoothing: none;
    font-family: 'Silkscreen', monospace;
    letter-spacing: 1px;
    white-space: nowrap;
    min-width: 95px;
}